@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c9c9d3;
  --foreground: #000000;
}



body {
  background: var(--background);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}




